<% content_for(:title, "หน้าแรก") %>
<h1 class="text-center">#{LOGO}</h1>
<h3 class="text-center">ยินดีต้อนรับเข้าสู่การแข่งขันคณิตศาสตร์และวิทยาศาสตร์ระหว่างโรงเรียน ครั้งที่ 13</h3>
<div class="text-center">สมัครเข้าร่วมการแข่งขันได้<%= link_to 'ที่นี่', new_application_path %></div>
<div class="text-center">ดูระเบียบการได้<%= link_to 'ที่นี่', '#' %></div>